---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} nabin. Credits to <a href="https://github.com/cassidoo">cassidoo</a> for the template
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
		font-size: 0.8rem;
	}
</style>
